.main-container {
  display: flex;
  font-family: 'poppins', sans-serif;
  flex-direction:column;
  align-items:center;
}

header {
  display: flex;
  flex-direction: row;
  min-height: 78px;
  max-height: 496;
  max-width: 1126px;
  width: 100%;
  justify-content: space-between;
  margin: 20px;

}

.logo-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.h1 {
  display: flex;
  align-self: center;
  max-width: 350px;
  height: 29px;
}


nav {
  color: #2F281E;
  max-width: 350px;
  width: 100%;
  min-height: 78px;
  margin-top: 20px;
  margin-left:20px;
  margin-right:20px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  max-width: 350px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
}

.in-button {
  background-color: #BCD0E5;
  margin: 20px;
}

.up-button {
  background-color: #FF9900;
}


--------------------------------------------


.starter-block {
  display:flex;

  /* width: 1125px;
  height: 495px; */
  margin-left: 20px;
}

.front-page {
  display: flex;
  color: #2F281E;
  font-family:"poppins", sans-serif;
  font-weight: bold;
  font-size: 44px;
  float: none;
  max-width: 458px;
  width: 100%;
  min-height: 108px;
  line-height: 54px;
  justify-content: center;
}

.h2 {
  max-width: 458px;
  width: 100%;
  min-height: 108px;
  }

.main-info {
  color: #544837;
  font-family:"poppins", sans-serif;
  font-variant: regular;
  font-weight: 518px;
  font-size: 100%;
  line-height: 28px;
  letter-spacing: 0px;
  max-width: 458px;
  width: 100%;
  min-height: 95px;
  box-sizing: border-box;
  float: none;
  line-height: 18px;
  z-index: auto;
  justify-content:center;
}

.buttons {
  display: flex;
}

.get-startedbtn {
  color: #FF9900;
  width: 175px;
  height: 53px;
  max-width: 100%;
}

.watch-vidbtn {
  flex-wrap:wrap;
  width: 175px;
  height: 53px;
}

 /* ------------------------------------------- */

.seconde-block {
  display: flex;
  max-width: 2211px;
  width: 100%;
  min-height: 543px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
}

.h3 {
  justify-content: center;
  flex-wrap: wrap;
  font-size: 36px;
  height: 108px;
  max-width: 539px;
  width: 100%;
}

.box-row {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 204px;
  max-width: 1095px;
  width: 100%;
  margin: 20px;
} 

.box-box {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  max-width: 240px;
  width: 100%;
  height: 178px;
  margin-left: 20px;
  padding-left: 20px;
}

.box-purple {
  width: 240px;
  height: 178px;
}

.box-yellow {
  width: 240px;
  height: 178px;
 }

.box-red {
  width: 240px;
  height: 178px;
}

.box-blue {
  width: 240px;
  height: 178px;
} 

.signupnow-btn {
  background-color: #FF9900;
  color: white;
  width: 175px;
  height: 53px;
  cursor: pointer;
}

.signupnow-btn:hover {
  opacity: 0.8;
}




/* --------------------------------------*/

.third-block {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.text-part {
  display: flex;
  flex-direction: column;
  max-width: 456px;
  width: 100%;
  min-height: 531px;
  font-size: 16px;
  justify-content: flex-start;

}

p {
  font-size: 16px;
}

h4 {
  display: flex;
  font-size: 36px;
}
/* 
.text-bubble {
  display: flex;

} */

/* ------------------------------------*/

.forth-block {
  display: flex;
  width: 1121px;
  height: 521px;
  justify-content: space-between;
}

.manager-part {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 427px;
  width: 100%;
  min-height: 486px;
  font-size: 16px;
  justify-content: flex-start;
  align-items: center;
}

.check-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}
.check-one {
  /* width: 385px;
  height: 52px; */
  margin-left: 20px;
}
.check-two {
  margin-left: 20px;
}

.check-three {
  margin-left: 20px;
}

.laptop-guy {
  display: flex;
  align-items: flex-end;
}

/* -------------------------------------*/


.fifth-block {
  display: flex;
  max-width: 609px;
  width: 100%;
  min-height: 1110px;
  font-size: 16px;
  line-height: 26px;
}

.marketers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 486px;
  width: 100%;
  min-height: 90px;
  justify-content: flex-start;
  align-items: center;
}


.screen-squares {
  display: flex;
  align-items: flex-end;
}

/* ----------------------------------------*/

.last-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1109px;
  width: 100%;
  min-height: 308px;
}

.logo-foot {
  align-self: first baseline;
  justify-content: space-between;
}

/* .nav-answers {

} */

/* .legal-info {

} */
.search-bar {
  max-width: 325px;
  width: 100%;
  min-height: 48px;
}
.signupnow2-btn {
  background-color: #FF9900;
  color: white;
  width: 131px;
  height: 39px;
  
}


/* 
- first block: title + text overlapps when i make the page smaller
- seconde block: title
 + sign up now-button needs rounded corners 
- third block: move photo to left
- forth block: first text overlappin third-blocks last sentence
- fifth block: whole block all stretched out
- last footer: dont know how to make the search-bar

*/