.main-container {
  display: flex;
  flex-wrap:wrap;
  font-family: 'poppins', sans-serif;
  flex-direction:column;
  align-items:center;
}

header {
  display: flex;
  flex-direction: row;
  min-height: 78px;
  max-height: 496;
  width: 1126px;
  justify-content: space-between;
  margin: 20px;

}

.logo-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.h1 {
  max-width: 350px;
  height: 29px;
}


nav {
  color: #2F281E;
  width: 350px;
  margin-top: 20px;
  margin-left:20px;
  margin-right:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  max-width: 350px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
li {
  list-style: none;
}

.in-button {
  background-color: #BCD0E5;
  margin: 20px;
}

.up-button {
  background-color: #FF9900;
}


--------------------------------------------


.starter-block {
position:absolute;
display: flex;
flex-direction:column;
margin-left: 20px;


}
.main-title {
  color: #2F281E;
  font-family:"poppins", sans-serif;
  font-weight: bold;
  /* font-size: 44px; */
  float: none;
  width: 100%;
 max-width: 458px;
  height: 108px;
  line-height: 54px;
justify-content: flex-start;
align-items:flex-start;


}

.main-info {
  color: #544837;
  font-family:"poppins", sans-serif;
  font-variant: regular;
  font-weight: 518px;
  font-size: 100%;
  line-height: 28px;
  letter-spacing: 0px;
  max-width: 458px;
  width: 100%;
  height: 95px;
  box-sizing: border-box;
  float: none;
  line-height: 18px;
  z-index: auto;
  justify-content:flex-start;
}

.buttons {
  display: flex;
}

.get-startedbtn {
  color: #FF9900;
  width: 175px;
  height: 53px;
  max-width: 100%;
}

.watch-vidbtn {
  flex-wrap:wrap;
  width: 175px;
  height: 53px;
}
/* .main-img {
  display: flex;
} */
  

 /* I need help moving the image to the left*/

/* Iwant to go thrue the whole css incase ive missed 
  any other options i could use here and remove whats unnecessary*/



  ---------------------------------------------------

  .seconde-block 
